* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#body-1{
    margin: -106px 0 0 0;
    text-align: center;
    perspective:1000px;
}
#body-2{
    margin: 100px 0 0 0;
    text-align: center;
    perspective:1000px;
}
#right-wheel,#left-wheel {
position: absolute;
right:5px;
animation: wheel 1s infinite linear ;
transform-origin:center ;
transform-box:fill-box ;
}
@-webkit-keyframes wheel{
    from{
    transform: rotateZ(0deg);
    }
    to{
    transform: rotateZ(360deg);
    }
}
#bike{
animation: bike 1s infinite ease-in-out alternate-reverse;
transform-origin:bottom;
}
@keyframes bike {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(15deg);
    }
}
#hat{
   animation: hat 1s infinite ease-in-out alternate;
   transform-origin:center;
   transform-box:fill-box;
}
@-webkit-keyframes hat {
    from {
        transform: translateY(-7%) rotateZ(0deg);
    }

    to {
        transform: translateY(14%) rotateZ(10deg);
    }
}

/*Typing animation*/
#arm{
    animation: arm 4s infinite linear alternate-reverse;
    transform-origin:right;
transform-box:fill-box ;
}
@-webkit-keyframes arm {
    0%{
     transform: rotate(0deg);
    }
    
    100%{
    transform:  rotate(-80deg);
    }
}

#circle-1{
    animation: circle 1.5s infinite ease-in-out ;
    animation-delay: .4s;
}
#circle-2{
    animation: circle 1.5s infinite ease-in-out;
    animation-delay: .7s;
}
#circle-3{
    animation: circle 1.5s infinite ease-in-out;
    animation-delay: 1s;
}
@-webkit-keyframes circle {
  0%{
    transform: translateY(5px);
    }
    50%{
    transform: translateY(-5px);
    }
    100%{
     transform: translateY(5px);
    }
}
#Vectorm_4{
    animation: message 5s infinite ease-in-out ;
    animation-delay: .4s;
}
#Vectorm_5{
    animation: message 5s infinite ease-in-out ;
    animation-delay: .7s;
}
#Vectorm_6{
    animation: message 5s infinite ease-in-out ;
    animation-delay: 1s;
}
@-webkit-keyframes message {
    from {
        opacity: 0;
    }

    to {
        opacity: .5;
    }
}

